body ,figure ,img ,div ,header ,nav ,main ul ,li ,a ,p ,section ,article ,footer ,h1 ,h2 ,figcaption {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;

}