body {
   background-color: #141414; 
}

figcaption {
    display: none;
}

img {
    max-width: 1200px;
}

.cabecalho {
    background-color: #141414;
    padding: 16px 0;
}

.cabecalho .cabecalho__logo {
    text-align: center;

}
.cabecalho .cabecalho__logo img {}

.cabecalho .cabecalho__menu, .cabecalho .cabecalho__menuConfig {
    display: none;
}

.cabecalho .cabecalho__menu {}
.cabecalho .cabecalho__menu ul {}
.cabecalho .cabecalho__menu ul li {}
.cabecalho .cabecalho__menu ul li a {}

.cabecalho .cabecalho__menuConfig {}
.cabecalho .cabecalho__menuConfig ul {}
.cabecalho .cabecalho__menuConfig ul li {}
.cabecalho .cabecalho__menuConfig ul li a {}

main {
    padding-bottom: 50px;
}

.secaoDestaque {
    background-image: url(../img/destaque.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0 22px 20px;
}

.secaoDestaque .secaoDestaque__imagemDestaque {
    display: none;
}
.secaoDestaque .secaoDestaque__imagemDestaque img{
    width: 100%;
}

.secaoDestaque .secaoDestaque__descricaoDestaque {
    color: #E5E5E5;
}
.secaoDestaque .secaoDestaque__descricaoDestaque h1 {}
.secaoDestaque .secaoDestaque__descricaoDestaque h1 img {
    width: 100%;
    max-width: 180px;
}
.secaoDestaque .secaoDestaque__descricaoDestaque p {
    margin: 10px 0;
    font-size: 0.8rem;
}

.secaoDestaque .secaoDestaque__navegacaoDestaque {}
.secaoDestaque .secaoDestaque__navegacaoDestaque a {
    font-size: 0.8rem;
    background-color: white;
    color: black;
    padding: 7px 15px;
    border-radius: 3px;
    display: inline-block;
}

.secaoFilmes {
    color: #E5E5E5;
    padding: 0 20px;
    overflow-x: hidden;
    margin-top: 20px;
}
.secaoFilmes h2 {
    font-size: 1.1rem;
    margin-top: 10px;
}

.secaoFilmes .secaoFilmes__listaFilmes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 10px;
}
.secaoFilmes .secaoFilmes__listaFilmes li {
    padding-right: 20px;
}
.secaoFilmes .secaoFilmes__listaFilmes li figure {}
.secaoFilmes .secaoFilmes__listaFilmes li figure img {
}

.rodape {
    padding: 0 20px;
    margin-top: 30px;
    color: #808080;
}
.rodape .rodape__midiasSociais {}
.rodape .rodape__midiasSociais ul {
    display: flex;
}
.rodape .rodape__midiasSociais ul li {
    margin-right: 8px;
}
.rodape .rodape__midiasSociais ul a {}
.rodape .rodape__midiasSociais ul img {}

.rodape .rodape__menuNavegacao {
    margin: 16px 0;
}
.rodape .rodape__menuNavegacao ul {}
.rodape .rodape__menuNavegacao ul li {}
.rodape .rodape__menuNavegacao ul li a {
    color: #808080;
}

.rodape .rodape__linkCodigo {
    color: #808080;
    border: 1px solid #808080;
    padding: 9px 15px;
    display: inline-block;
    margin-bottom: 20px;
}
.rodape p {}